$green-color: #33ffa9;
$grey-color: rgb(36, 50, 56);
html {
  font-family: 'Calibri', serif;
  font-size: 16px;
}
body {
  line-height: 1.4rem;
}
.flex {
  display: flex;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
h3 {
  font-weight: 500;
  line-height: 1rem;
  color: white;
}
h4 {
  color: white;
  font-size: 1rem;
}
p {
  color: #3F3F3F;
}
a {
  color: $grey-color;
}
header {
  display: flex;
  height: 4rem;
  width: 100%;
  z-index: 1;
  position: relative;
  align-items: center;
  background-color: white;
  color: #5F5F63;
  span {
    font-size: 1.5rem;
  }
}
.logo {
  padding-left: 1.5rem;
}
.logo-img {
  width: 60px;
}
em {
  font-weight: bold;
  color: black;
}
nav {
  justify-content: space-between;
  width: 100%;
}
ul {
  padding-right: 1.5rem;
  font-weight: bold;
  li {
    display: inline;
    padding: 0.5rem;
    cursor: pointer;
    transition: font-size linear 200ms;
    &:hover {
      font-size: 1.25rem;
    }
  }
}
.main {
  background-color: $grey-color;
  display: flex;
  width: 100%;
}
.banner {
  width: 60%;
  padding: 2rem 1.5rem;
  img {
    width: 100%;
    object-fit: cover;
    justify-content: center;
  }
}
.banner-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-content h1, h3, button {
  width: 80%;
  line-height: 2rem;
  padding: 0.5rem 0;
}
.banner-button {
  background-color: $green-color;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: $grey-color;
  border: none;
  &:hover {
    background-color: #85ffcc;
    font-size: 1.25rem;
    cursor: pointer;
  }
}
.about-section {
  background-color: $green-color;
  width: 100%;
  h1 {
    color: rgb(36, 50, 56);
  }
}
.about-section h2, h3, h4 {
  color: white;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1rem;
}
.about {
  width: 25%;
  margin: 1rem;
  background-color: $grey-color;
  color: white;
  transition: background-color 200ms linear,
    font-size;
  &:hover {
    background-color: rgb(133, 131, 131);
  }
}
.about_image {
  width: 100%;
}
.details {
  margin: 10px;
}
.title {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.install-section {
  background-color:$grey-color;
}
.install-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.install-info {
  display: flex;
  width: 50%;
  padding: 10px;
  transition: background-color 200ms linear;
  &:hover {
    background-color: rgb(133, 131, 131);
  }
}
.install-img {
  flex: 3.5;
  line-height: 0;
  padding: 1rem;
  width: 30%;
}
.install-details {
  flex: 6.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  h4 {
    padding-bottom: 0.5rem;
  }
}
footer {
  background-color: $green-color;
  padding: 1rem;
}
.copy {
  h4 {
    color:$grey-color;
  }
}
