/*Styles*/
html{
  background-color: #F4F4F7;
  font-family: 'Calibri', serif;
  font-size: 16px;
  line-height: 1.4rem;
}
h1 {
  font-family:'Lucida Handwriting';
  font-size: 2.5rem;
  color: black;
}
h2, h3, h4, h5, h6 {
  font-family:'Lucida Handwriting';
  color: black;
}

/* Header Section */
.header {
  height: 4rem;
  width: 100%;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  background-color:#E8E8F0
}
.menu {
  width: 100%;
}
.menu__list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.menu__list li {
  cursor: pointer;
  transition: font-size linear 200ms;
}
ul li:hover {
  font-size: 1.25rem;
}

/*BANNER*/
.banner{
  background: url(./dis.png);
  background-position: center;
  background-size: cover;
  height: 35em;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}
.headline{
  margin-top: 20%;
  margin-left: 10%;
  line-height: 2rem;
}

.portfolio-block {
  margin-left: 30px;
  margin-right: 30px;
}
/* About me */
.about h4{
  text-align: center;
}
.about, .education {
  text-align: center;
}

/* Skills */
.skills{
  width: 100%;
}
.skills-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 1rem;
}
.column{
  width: 25%;
}
.column h4 {
  margin-bottom: 10px;
}

/* Portfolio */

.projects{
  width: 100%;
}
.title{
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.projects-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}
.project{
  text-align: center;
  width:25%;
  margin:10px;
  background-color: white;
  color:#606060;
  transition: background-color 200ms linear, font-size;
}

.details{
  margin: 1rem 0.5rem;
}
.details h3, h5{
  text-align: center;
}
.project-name {
  margin: 10px 0;
}
.project:hover{
  background-color: #CFCFCF	;
}
.image img{
  width: 100%;
}


/* ContactMe */
.contact-me{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.contact-container{
  max-width: 780px;
  padding:50px 16;
  margin: 0 auto;
  font-size: 0;

}
.contact-title {
  text-align: center;
  font-size: 30px;
  color: black;
  margin: 16px;
}
.contact-form-container {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-size: 12px;
}
.contact-form-container:after {
  content: "";
  display: table;
  clear: both;
}

.contact-form {
  color: rgb(109, 109, 110);
}

.contact-form input,
.contact-form textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  box-sizing: border-box;
  background-color: #E7E6EE;
  width: 100%;
  padding: 12px;
  border: none;
  margin-top: 16px;
}

.contact-form input[type="submit"] {
  background-color: #7EAFF0;
  padding: 10px 30px;
  border-radius: 10px; /* Уголки */
  margin-top: 24px;
  text-transform: uppercase;
  color:black;
  float: right;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  user-select: none;
}

.contact-form input[type="submit"]:hover,
.contact-form input[type="submit"]:active {
  transform: scale(1.05);
  color: #fff;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.contact-form textarea {
  height: 140px;
  background-color: #E7E6EE;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: none;
  margin-top: 16px;
  resize: none;
}

/* footer */
footer{
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #E8E8E8;
  padding-top:1rem;
  padding-left:1.5rem;
  padding-bottom:1rem;
  display:flex;
  justify-content: space-between;
}

/* NOTES
1) color: inherit - наследует значение свойства у родительского элемента
2) transition: 0.5s ease-in-out - Устанавливает, насколько быстро должно
изменяться значение стилевого свойство для которого применяется эффект перехода.
3) text-decoration - оформление текста в виде подчеркивания, перечеркивания, линии над текстом и мигания
*/



/* Details-block*/
.details-block {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* margin: 10px 20px; */
}
.img-block{
  /* padding: 20px 30px; */
  width: 50%;
}
.info-block{
  /* padding: 20px 30px; */
  width: 50%;
  text-align: center;
}
@media only screen and (max-width: 375px) {
  .details-block {
    display: flex;
    flex-direction: column;
  }
  .img-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .info-block{
    /* padding: 20px 30px; */
    width: 100%;
  }
}

.details-img{
  width: 90%;
}
.details-button{
  background-color: #7EAFF0;
  padding: 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px; /* Уголки */
}
.proj-name{
    font-family: 'Lucida Handwriting';
    line-height: 1.2rem;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
  }


/* Mobaile version */

@media only screen and (max-width: 375px) {
  .banner {
    padding-top: 4rem;
    height: 230px;
  }
  .headline {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    text-align: center;
    justify-content: center ;
    align-content: center;
    display: flex;
    flex-direction: column;
  }
  .headline .headline__name{
    font-size: 25px;
  }
  .headline .headline__about{
    font-size: 15px;
  }
  .project{
    width:45%;
    margin: 10px 0px;
  }
  .contact-title {
    font-size: 20px;
  }
}
